.backbox-main {
    display: flex;
    flex-direction: column;


&__svg {
    width: 450px;
    height: 120px;
    background-color: $secondaryWhiteColor;
    
    margin-top: 60px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 15px;
    }
}
