.main-upper {
    
    background-color:none; 
    width: 100%;
    height: auto;
    // height: 400px ;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(/images/mobile-photo/background-mobile-x1.jpg) ;
     @media (min-device-pixel-ratio: 2),
     (min-resolution: 192dpi),
     (min-resolution: 2dppx) {
     .main-upper {
       background-image: url(/images/mobile-photo/background-mobile-x2.jpg);
     }
   }

@include tablet {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(/images/foto-tablet/background-tablet-x1.jpg) ;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-upper {
      background-image: url(/images/foto-tablet/background-tablet-x2.jpg)
  }
}

}

@include desktop {
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(/images/foto-desktop/background-desktop-x1.jpg) ;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .main-upper {
      background-image: url(/images/foto-desktop/background-desktop-x2.jpg)
  }
}

}



 


    &__title {
        display: block;
        color: $whitecolor;
        text-align: center;
        font-size:26px;
       
        height: 84px;
        margin:0 auto;
        margin-top:20px;
        }
        
}

.main-upper__flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button--order {
    cursor: pointer;
    background-color: $bluecolor;
    color: $whitecolor;
    font-family:$fontInherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    padding: 10px 41px 10px 40px;
    text-align: center;
  
    width: 200px;
    height: 50px;
    box-shadow: $primaryBoxShadow;
    border-radius: 4px;
    border:none;
}


