.backbox-main {
    display: flex;
    column-gap: 30px;


&__svg {
    width: 270px;
    height: 120px;
    background-color: $secondaryWhiteColor;
    flex-basis: calc((100% - 3 * 30px) / 4);
    margin-top: 94px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    }
}
