.main-upper {
    
    background-color:none; 
    width: 480px;
    height: 400px ;
    background-image:linear-gradient(rgba(47, 48, 58, 0.4),
     rgba(47, 48, 58, 0.4)), url(../images/background-mobile.jpg) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        color: $whitecolor;
        text-align: center;
        font-size:26px;
        width: 365px ;
        height: 84px;
        margin-left: 57px;
        padding-top:106px;
        }
        
}

.button--order {
    cursor: pointer;
    background-color: $bluecolor;
    color: $whitecolor;
    font-family:$fontInherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    padding: 10px 41px 10px 40px;
    text-align: center;
    margin-left: 140px;
    margin-top: 80px;
    box-shadow: $primaryBoxShadow;
    border-radius: 4px;
    border:none;
}


