.backbox{
    @include tablet{
        display: flex;
        flex-wrap: wrap;
    }
}

.backbox-main {
    
    margin-left: 15px;
    margin-right: 15px;
width: auto;
@include tablet {
    flex-basis: calc((100% - 1 * 60px) / 2);
}






&__svg {
   
    width: auto;
    height: 120px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $secondaryWhiteColor;

  
    }
}

