
.join-us{
    // width:206px;
    // height:80px;
    // margin-left: 70px;
    

&__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-left: 10px;
    text-align: center;
}



&__social{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 20px;
   

    &--svg{
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        fill:#ffffff;
        margin-left:10px ;

        &:hover,
&:focus {
    background-color: #2196F3;
    fill: #ffffff;
    border-radius: 50%;
    transition-property:background-color,box-shadow;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) , box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    }
}
}

