
 
    
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
   position: absolute;
   top:0;
   right:0;
  
   margin-top: 10px;
   margin-right: 10px;
    background-color:$whitecolor;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    @include tablet {
        display: none;
        visibility: hidden;
    }
    &--close {
   
      position: absolute;
      top: 16px;
      right: 16px;
      color:$blackcolor;
      width:18px;
      height: 18px;
      background-color: $whitecolor;
      border: none;
      cursor: pointer;
      &:hover,
      &:focus {
          color:$bluecolor;
      }
    }

    &:hover,
    &:focus {
     fill:$bluecolor;
    }
}

  
 
  
  
 
  
  .menu-container {
    
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 48px;
    background-color: $whitecolor;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
    width: 100%;
    height: 100vh;
  }
  
  
  
  .mobile-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: $whitecolor;
  
  
  &__link {
    font-family:$fontRoboto;
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
letter-spacing: 0.02em;
margin-bottom:36px;
color:$blackcolor;
    display: block;
    text-decoration: none;

    &--mail{
      display: block;
      font-family:$fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color:$greyColor;
  
  }

    &--tel {
      display: block;
      margin-top: 100px;
      margin-bottom: 32px;
      font-family: $fontRoboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
letter-spacing: 0.02em;
  color: $bluecolor;
  
  }

    &:focus,
    &:active {
        color:$bluecolor;
    }
    &--active{
      color:$bluecolor;
    }
  }



}
  



.social-mobile{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &__link{
 
      width: 100%;
        display: block;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding:10px;
        margin-top:64px ;
        font-family:$fontRoboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    
    color: $bluecolor;
    &--border{
      border:none;
  }
        
    }
   
    
   
}
