* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 
body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    width: 1600px;
}


ul {
list-style-type: none;
}

a {
text-decoration: none;
}


.section{
 padding-bottom: 94px;
padding-top:94px; 
}

.container {
    max-width: 1200px;
    margin-left: 215px;
    margin-right: 0;
    }